#vehicles-container {
    padding: 2rem;
    margin-top: 10rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

#vehicles-container > #add-vehicle {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vehicles-container > #add-vehicle > span {
    font-size: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px dotted #ae9460;
    border-radius: 50%;
}

#vehicles-container > #add-vehicle:hover {
    scale: 1.1;
    transition: all 0.3s ease-in-out;
}

.vehicle,
#add-vehicle {
    width: 90%;
    min-height: 10rem;
    border: 2px solid #ae9460;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    background-color: #ffffff;
}

.vehicle > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

button {
    cursor: pointer;
    width: fit-content;
    padding: 0.2rem 0.5rem;
    font-size: 16px;
    margin-top: 0.5rem;
    color: #ae9460;
    border: 2px solid #ae9460;
    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.changeRate:hover,
.remove:hover {
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.changeRate:hover {
    background-color: #2e5cb8;
}

.remove:hover {
    background-color: #ff0000;
}
